{% load static %}
<div class="card">
        <div class="left-coloumn">
            <img src="{% static 'ava1.jpg' %}" alt="Аватар" class="avatar">
            <span class="author-name">
                name_user
            </span>
            <div class="rating">
                <button class="vote-btn" title="Dislike">&#128148</button>
                <div class="rating-value">{{ question.rating }}</div>
                <button class="vote-btn" title="Like">&#128150;</button>
            </div>
        </div>

        <div class="text-content">
            <div class="text">
                <a href="{% url 'question' question.id %}" class="title">{{ question.title }}</a>
                <span>{{ question.text }}</span>
            </div>
            <div class="answer-tags">
                <a href="{% url 'question' question.id %}">answer ({{ question.answers_count }})</a> 
                <span class="tags-label">Tags:</span>
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag_questions' tag %}" class="tag">{{ tag }}</a>
                {% endfor %}
            
            </div>
            
        </div>
        
    </div>
    