.cap {
    display: flex;
    align-items: center;
    
    gap: 30px;
    width: 100%;
    border-bottom: 2px solid black;
    font-size: 20px;
}

.logotip{
    font-family: cursive, Helvetica, sans-serif;
    font-size: 60px;
    text-decoration: none;
    color: black;
}

.search-input {
    width: 300px;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid rgb(229, 141, 229);
    outline: none;
    transition: border-color 0.3s;
    padding-left: 35px; 
    
    /* 3. САМА ИКОНКА  */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23888' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
    
    /* 4. Настройки иконки */
    background-repeat: no-repeat;
    background-position: 10px center;
}
.search-input:focus{
    border-color: purple;
}

.search-button {
    background-color:rgb(214, 158, 239);
    color: rgb(76, 14, 151);
    font-family: cursive,  Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgb(192, 136, 235) 0%, rgb(192, 154, 238) 100%);
   /* box-shadow: 0 4px 6px rgba(157, 25, 200, 0.2);*/
    transition: all 0.1s ease-in-out;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black; 
    
}
.search-button:hover {
    background-color: rgb(233, 223, 239);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px black;
}
.user {
    display: flex;
    gap: 20px;
}
.text-user {
    display: flex;
    flex-direction: column;
}
.ava-user {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
.user-links {
    display: flex;
    gap: 20px;
    
}
.guest-links {
    display: flex;
    gap: 20px;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.content-area {
    flex-grow: 1;
}
.sidebar {
    width: 300px;
}

h2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.popular-tags {
    margin-top: 50px;
    width: 250px;
    padding: 15px;
}
.tags-cloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 15px;
}
.tag {
    text-decoration: none;
    line-height: 1;
    transition: opacity 0.2s;
}
.tag:hover {
    text-decoration: underline;
    opacity: 0.7;
}
.tag-black{ color: black;}
.tag-red{ color: rgb(221, 0, 255);}
.tag-green{ color: rgb(4, 176, 233);}
.tag-yellow{ color: rgb(0, 34, 255);}

.tag-sm{ font-size: 16px;}
.tag-md{ font-size: 24px;}
.tag-big{ font-size: 32px;}

.Best-Members{
    margin-left: 15px;
    margin-top: 30px;
}
.Best-Members ul{
    list-style-position: inside;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
