
h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.login, 
.email, 
.nickname {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.text-login, 
.text-email, 
label.nickname, 
label.avatar {
    width: 160px;
    font-size: 18px;
    font-weight: 800;
}

.login input, 
.email input, 
.nickname input {
    width: 320px;
    padding: 12px 15px;
    border: 2.5px solid rgb(76, 14, 151);
    font-size: 16px;
    border-radius: 4px;
    outline: none;
}

.login input:focus, 
.email input:focus, 
.nickname input:focus {
    background-color: #fcf4ff;
}

.ava {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.ava-picture {
    display: flex;
    flex-direction: column;
    gap: 15px;
 
}

.ava-picture img {
    width: 140px;
    height: 140px;
    border: 2px solid #000;
    object-fit: cover;
}
.ava-picture input[type="file"] {
    font-size: 14px;
    cursor: pointer;
}

.save-btn {
    display: flex;
    margin-left: 160px; 
}

.butt {
    background-color:rgb(214, 158, 239);
    color: rgb(76, 14, 151);
    font-family: cursive,  Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgb(192, 136, 235) 0%, rgb(192, 154, 238) 100%);
    box-shadow: 0 4px 6px rgba(157, 25, 200, 0.2);
    transition: all 0.1s ease-in-out;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black; 
    
}
.butt:hover {
    background-color: rgb(233, 223, 239);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px black;
}
.pink-letter {
    color: #f200ff;
}
.blue-letter {
    color: rgb(4, 176, 233);
}