/* Основной контейнер формы */


.system-container {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    max-width: 1000px;
    margin-top: 30px;
    /*border: 2px solid rgb(229, 141, 229);*/
    padding: 20px;
    border-radius: 10px;
    background-color: #fcf4ff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 24px rgba(0, 0, 0, 0.08);
}
.system-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ava-container {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 4px solid rgb(76, 14, 151);
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 20px;
}

.ava-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-label {
    cursor: pointer;
    font-size: 12px;
    color: #868585;
    border: 2.5px solid rgb(76, 14, 151);
    padding: 5px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.avatar-label:hover {
    border-color: #f200ff;
}

.system-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Стили для каждой строки (Label + Input) */
.form-row {

    padding-bottom: 10px;
}

/* Стили для подписей (левая колонка) */
.form-row label {
    display: block;
    font-size: 18px;

    margin-bottom: 5px;
    font-weight: bold;
}

/* Стили для полей ввода (правая колонка) */

.form-row input {
    width: 320px;
    padding: 12px 15px;
    border: 2.5px solid rgb(76, 14, 151);
    font-size: 16px;
    border-radius: 4px;
    outline: none;
}
.form-row input:hover {
    transform: scale(1.05);
    
}
.form-row input::placeholder {
    color: rgba(152, 152, 152, 0.954);
}
/* Стили для кнопки регистрации */
.button-row {
    justify-content: flex-start;
    padding-left: 150px; /* Чтобы кнопка была под инпутами */
}

.submit-btn {
    background-color:rgb(214, 158, 239);
    color: rgb(76, 14, 151);
    font-family: cursive,  Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgb(192, 136, 235) 0%, rgb(192, 154, 238) 100%);
   /* box-shadow: 0 4px 6px rgba(157, 25, 200, 0.2);*/
    transition: all 0.1s ease-in-out;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black; 
    
}

.submit-btn:hover {
    background-color: rgb(233, 223, 239);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px black;
}

/* Стили для сообщений об ошибках */
.error-text {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid red;
    background-color: #fff1f1;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    
    .system-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%;
        gap: 30px;  
        padding: 0 15px;
        margin-top: 5px;
    }

    .system-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .system-right {
        width: 100%;
    }

    .form-row {
        width: 100%;
        margin-bottom: 5px;
    }

    .form-row input {
        width: 100%; 
        max-width: 100%; 
        padding: 10px;
        font-size: 10px;
    }
    .form-row label {
        font-size: 10px;
    }

    .submit-btn  {

        font-size: 14px;
        padding: 5px 10px;
    
    }
    .save-section {
        margin-top: 20px;
        text-align: center;
        max-width: 900px;

    }
    .ava-container {
        width: 100px;
        height: 100px;
    }
    .sett_h2 {
        margin-bottom: 15px;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 10px;
    }
}