{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}
    <div class="new-questions">
        <h2>
            New Questions
        </h2>
        <a href = "{% url 'hot' %}">
            Hot Questions
        </a>
    </div>
    
    {% for question in page_obj %}
        {% include "inc/question_card.html" %}
              
    {% endfor %}
    
    {% include "inc/pagination.html" %}

{% endblock %}