{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'setting.css' %}">
{% endblock %}

{% block content %}
    <h2><span class="pink-letter">&#10148; L</span>og <span class="pink-letter">I</span>n</h2>
    {% if form.errors %}
        <p class="err">
            Sorry, wrong password!
        </p>
    {% endif %}
    <!-- Форма авторизации -->
    <form method="POST" action="" class="system-avtorize">
        {% csrf_token %}
        <div class="system-container">
            <div class="input-field">
                <label class="text-login">Login</label>
                <input type="text" name="username" placeholder="Enter your login here">
            </div>

            <div class="input-field">
                <label class="text-email">Password</label>
                <input type="password" name="password" placeholder="********">
            </div>
        </div>
        <div class="save-btn">
            <button type="submit" class="system-button">Log in!</button>

            <a href="{% url 'register' %}" class="reg">
                create new account
            </a>
        </div>
    </form>

{% endblock %}