{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'setting.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block content %}
<h2 class="sett_h2">&#9881; Settings</h2>

<div class="system-container">
    
    <div class="system-left">
        <div class="ava-container">
            <img src="{% static 'Hamster Eyes.jpeg' %}" alt="Avatar">
            <p class="user-id">{{ request.user.username }}</p>
        </div>
        <div class="upload-section">
             <label class="avatar-label" for="avatar">CHANGE IMAGE</label>
             <input type="file" name="avatar" id="avatar" style="display:none;">
        </div>
    </div>

    <div class="system-right">
        <div class="input-field">
            <label>LOGIN</label>
            <input type="text" name="login" placeholder="{{ request.user.login }}">
        </div>
        <div class="input-field">
            <label>EMAIL</label>
            <input type="email" name="email" placeholder="{{ request.user.email }}">
        </div>
        <div class="input-field">
            <label>NICKNAME</label>
            <input type="text" name="nickname" placeholder="{{ request.user.username }}">
        </div>
    </div>
</div>

<div class="save-section">
    <button type="submit" class="system-button">Save changes</button>
</div>
{% endblock %}
