{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<div class="new-questions">
    <h2>
        Tag: {{ tag_name }}
    </h2>
</div>
{% if page_obj.object_list %}
    {% for question in page_obj %}
        {% include "inc/question_card.html" %}

    {% endfor %}

    {% include "inc/pagination.html" %}
{% else %}
<div class="empty-tag-message">
        <p>На этот тег еще нет вопросов &#128546;</p>
        <p>Будьте первым, кто его задаст!</p>
    </div>

{% endif %}

{% endblock %}